
@font-face {
  font-family: SearsTower;
  src: url(assets/Sears_Tower.ttf);
}

@font-face {
  font-family: VeraType;
  src: url(assets/VeraType.ttf);
}

p {
  font-size:24pt;
}

.grid-container {
  width: 90%;
  display: inline-block;
  background-color: #999;
  padding: 4px;
}

.grid-item {
  padding: 5px 10px 5px 10px;
  font-size: 32px;
  font-family:VeraType;
  text-align: center;
  display:inline-block;
}

.begin-border {
  border-style: groove;
  border-width: 5px;
  border-radius: 12px 3px 3px 12px;
  padding: 5px 40px 5px 40px;
  background-color: #999999;
  border-color:#555;
}

.end-border {
  border-style: groove;
  border-width: 5px;
  border-radius: 3px 12px 12px 3px;
  padding: 5px 40px 5px 40px;
  background-color: #999999;
  border-color:#555;
}

.border {
  border-style: groove;
  border-width: 5px;
  border-radius: 3px 3px 3px 3px;
  background-color: #999999;
  border-color:#555;
}

.button {
  background-color:#999999;
  border-style: groove;
  border-width: 5px;
  border-radius: 5px;
}

.timer {
  margin:auto;
  text-align:center;
  padding:15px 20px 5px 20px;
  height: 100px;
  width: 100px;
  font-family:VeraType;
  font-size:56pt;
  border-style: groove;
  border-width: 10px;
  border-radius: 12px 12px 12px 12px;
  background-color: #0000FF;
  border-color: #0000CC;
}

.bigger{
  font-size:32pt;
}

.clicked {
  background-color:#555555;
}

body {
  background-color:#999;
  text-align: center;
  font-size: 18px;
  padding: 2.5%;

}

.instructions{
  margin:auto;
  font-family:VeraType;
  font-size:18pt;
}

h1 {
  font-family: SearsTower;
  font-size:50pt;
}
